{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Nazmuls life style </title>
<link rel="stylesheet" href="{% static 'abc.css' %}">
</head>
<body>
      <div class="headersection template clear">
		<div class="logo">
		<a href="#"><img src="picture/linkedin-2048132_1920.png"></a>
		<h2>kmnazmul.com</h2>
		<p> my fast webside desine </p>
		
		</div>
		<div class="socal">
			 <a href="#"><img src="picture/facebook-2440266_1920.png" alt="Facebook"></a>
			 <a href="#"><img src="picture/twitter-1460609_640.png" alt="twtter"></a>
			 <a href="#"><img src="picture/google-plus-clipart-png-transparent-6.jpg" alt="google+"></a>
			 
		
		</div>
			
		
	  </div>
	  
	
	  
	  <div class="contaionsection template clear">
	  
	  <div class="maincontain clear">
	  
	  


			{%block contain %}



			
	 

	  
			{% endblock %}
			
	  
	  
	  
	  
	    
	  </div>
	  
	  <div class="saidbar clear">
	  <div class="samesaidbar"><h2>letest artical</h2>
		  <ul>
		        <li><a href="#">post titel one will be go here</a></li>
		        <li><a href="#">post titel two will be go here</a></li>
		        <li><a href="#">post titel three will be go here</a></li>
		        <li><a href="#">post titel four will be go here</a></li>
		        <li><a href="#">post titel five will be go here</a></li>
				
		   
		   </ul>
		</div>
		   
		    <div class="samesaidbar"><h2> our resent post</h2>
					<h3> my post </h3>
				<img src="picture/2017-05-11-02-21-19-091.jpg"></img>
				<p> I went to be a good manI went to be a good manI went to be a good man
				</p>
			</div>
		   
		 <div class="samesaidbar"><h2>saidbar header</h2>
		 
			<p>I went to be a rich parson.I went to be a rich parson.I went to be a rich parson</p></div>
		   
		
		</div>
	  

	  
	  </div>
            <div style="clear:both"></div>	
	  
	  <div class="footersection template clear">
			<div class="fottermenu">
			<ul>
		       
		   		   
		   </ul>
			</div>
			
			<p>&copy; copytight dicklaretion 
</body>
</html>
