*{margin:0;padding:0;outline:0;}
body{font-family:arial;font-size:14px;line-height:18px;color:#000;background:
url(picture/IMG_20160304_102051.jpg)repeat fixed 0 0 #000;}
.template {
  margin: 0 auto;
  width: 897px;
}
.clear{overflow:hidden;}

.headersection {
  background: #4c8045;
  color: #ffffff;}
.logo{width:450px;float:left}
.logo img{float: left;
    margin-right: 17px;
    padding-left: 29px;
    padding-top: 5px;
    width: 74px;}
.logo h2{color:#fff;
		font-size:32px;
		margin-bottom:10px;
		margin-top:25px;
		text-shadow:8px 9px 0 #666;
		}
.logo p{}
.socal{width:250px;float:right;padding:15px;  padding-top:30px;}
.socal img{width:50px }
.navesection {
  background: #97a497 none repeat scroll 0 0;}
  
.navesection ul{margin:0; padding:0;list-style:none;}
.navesection ul li{display:block;float:left;}
.navesection ul li a {
  background: #3a523a none repeat scroll 0 0;
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: bold;    
  margin: 5px;
  padding: 5px 72px;
  text-decoration: none;
}
.navesection ul li a:hover {
  background:#639263;
  color:#FFFFFF;}
 
  
input[type="text"],input[type="text"],input[type="email"]{ border: 1px solid;
    margin-bottom: 11px;
    padding: 5px;
    width: 300px}
input[type="submit"]{ background: #d7d5d5 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    margin: 29px 0 43px 194px;
    padding: 17px 46px;
    text-align: center;}
input[type="submit"]:hover{background:#000;color:d7d5d5;}
textarea{ margin-bottom: -26px;
    padding: 5px;
    width: 300px;
}
 #activ{background:#639263;
  color:#FFFFFF;}
.contaionsection{background:#FFFFFF;}
.maincontain {
  background: #ace0a5;
  float: left;
  margin: 12px 12px 12px 0;
  padding: 18px;
  width: 600px;
}
.about{}

.about img{ float: left;
    padding: 14px;
    width: 190px;
	margin-right:10px;}
.about p{font-size: 16px;
    line-height: 23px;
    margin-bottom: 22px;
    text-align: justify;}


.samepost h2,.about h2{
  border-bottom: 3px solid #545454;
  font-size: 30px;
  margin-bottom: 10px;
  padding: 10px;
}
.samepost img {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  margin-right: 11px;
  padding: 5px;
  width: 230px;
}
.samepost p {
  font-size: 19px;
  line-height: 24px;
  text-align: justify;
}
.readmore {
  float: right;
  margin-top: 10px;
}
.readmore a {
  background: #fff;
  border: 1px solid 8C8C8C;
  color: #333;
  display: block;
  font-size: 20px;
  padding: 5px 10px;
  text-decoration: none;
}
.readmore a :hover{color:#03519F;}
.saidbar {
  background: #94C88D;
  float: right;
  margin: 10px 0 10px 10px;
  padding: 26px;
  width: 187px;
}.saidbar p {
  line-height: 23px;
  margin-bottom: 0px;
} 

.samesaidbar h2{}
.samesaidbar  ul{padding:0px;margin:0;list-style:none;}
.samesaidbar ul li {
  background: #abdfa4 none repeat scroll 0 0;
  border-bottom: 2px solid #8a8a8a;
  font-size: 15px;
  padding: 8px 4px 8px 0;
}
.samesaidbar ul li :last-child{ border-bottom:0px solid #8a8a8a;}
.samesaidbar  ul li a{text-decoration:none;}
.samesaidbar ul li a :hover {color:#4C8045;}
.samesaidbar h2 {
  border-bottom: 2px solid #3c3c3c;
  border-radius: 3px;
  color: #010101;
  margin: 7px;
  padding: 11px;
  background-color: #93C78C;
}
.samesaidbar h3{ color: #fff;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;}
.samesaidbar img{padding-left: 49px;
    padding-top: 10px;
    width: 90px}
.samesaidbar p{background: #929292 none repeat scroll 0 0;
    text-align: justify;}


.footersection {
  background:#446e44;
  height: 89px;text-align:center;
}
.footersection p{}

.fottermenu{margin-top:25px;
			margin-bottom:5px}
.fottermenu ul{padding:0;margin:0;
				list-style:none; 
				text-align:center;
				}
.fottermenu ul li{display:inline-block;
			}
.fottermenu ul li a{color:#E6AF4B;
	font-size:18;
	margin-right:5px;
	ration:none; text-decoration:none ;background :#fff}
