
<div class="card border-light col-9">
      <div class="card-body">
<div class="card-deck row ">
  <div class="card border-warning col-6">
                  <div class="card-body">
              <div>
                <img class="card-img-top" src="img/n.jpg"style="  width:170px;"alt="Card image cap">
              </div>
              <div class="card-header bg-dark text-center text-light mt-2">
                সাদবরন সম্পাদক
              </div>
              <div class="bg-light m-2 ">
                <h4>
                  <strong class="mt-4"> বকুল ইসলাম</strong></h4>
                </div>

              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">অারও পড়ুন</a>
            </div>
          </div>

          <!--main contain sadaron sompadok bar-->

          <div class="card border-warning col-6">
            <div class="card-body">
        <div>
          <img class="card-img-top" src="img/n.jpg"style="  width:170px;"alt="Card image cap">
        </div>
        <div class="card-header bg-dark text-center text-light mt-2">
          সাদবরন সম্পাদক
        </div>
        <div class="bg-light m-2 ">
          <h4>
            <strong class="mt-4"> বকুল ইসলাম</strong></h4>
          </div>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">অারও পড়ুন</a>
        </div>
      </div>
      </div>
    </div>
